<header>
    <div class="main_page">
        <a mat-button href="/manager">Main Page</a>
    </div>

    <div class="links">
        <a mat-button href="/manager/all_objects">Catalog of objects</a>
        <a mat-button href="/manager/interviews">Interviews</a>
        <a mat-button href="/manager/reviews">Reviews</a>
        <a mat-button href="/manager/managed_objects">Managed objects</a>
        <a mat-button href="/manager/managed_contracts">Managed contracts</a>
    </div>

    <div class="profile">
        <a mat-button href="/manager/profile">Profile</a>
        <a mat-button href="">Sign Out</a>
    </div>
</header>